Lab-Chatbot-telegram.json
{
  "name": "Lab-Chatbot-telegram",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "kamu adalah asistent AI saya namanya EsaAI"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -32,
        -16
      ],
      "id": "c92bec6a-b031-47d7-bea8-4cf20e09bbe8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -112,
        192
      ],
      "id": "c517c74a-0044-4668-8f84-946467fbd000",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "Ef0i7CiqyVYZ6Qbq",
          "name": "DeepSeek-IDN"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        -16
      ],
      "id": "35fcad29-0d5e-4fec-9733-5b8e67fb656b",
      "name": "Telegram Trigger",
      "webhookId": "6e6d3526-7e92-4cb6-a1f4-21595d288e65",
      "credentials": {
        "telegramApi": {
          "id": "F2FzbM8utlbacFFZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -16
      ],
      "id": "87bb65a2-160d-4788-92c8-38747f3f0c10",
      "name": "Send a text message",
      "webhookId": "f6458c2b-4889-4758-90df-597cb6d978d1",
      "credentials": {
        "telegramApi": {
          "id": "F2FzbM8utlbacFFZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        192
      ],
      "id": "c2129a1f-8c64-45f1-bd66-af29ce264b35",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "494c0fbc-31a8-488d-8407-fee57220986d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "659b1a8bc86a72d1d12bb0bfcd6fa47df84118739367e67ea31333203b3ec8b9"
  },
  "id": "VNhoWN25uc3j4bkH",
  "tags": []
}